.hi {

	&__container {
		display: flex;
		padding: 130px 0px 70px 0px;

	}

	&__body {
		padding: 0px 110px 0px 0px;
		font-family: "Heebo";
		color: #21243D;

		*:last-child {
			margin-bottom: 0;
		}
	}

	&__description {
		line-height: 145%;
		font-size: 44px;
		font-weight: 700;
		margin: 0px 0px 20px 0px;
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		margin: 0px 0px 35px 0px;
	}

	&__button {
		background-color: #FF6464;
		color: white;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 47px;
		padding: 0px 20px;
		border-radius: 5px;
	}

	&__button:hover {
		border: solid black 1px;
		transition: all 0.5s ease 0s;
	}

	&__image {
		flex: 0 0 243px;
		height: 243px;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: -5px 13px 0 0 #EDF7FA;

		img {
			height: 100%;
			object-fit: fill;
		}
	}

	@media(max-width: 852px) {

		&__body {
			padding: 0px 40px 0px 0px;
		}

		&__container {
			padding: 120px 5px 60px 5px;

		}
	}

	@media(max-width: 550px) {
		&__container {
			justify-content: center;
			text-align: center;
		}

		&__body {
			padding: 0px 10px;
		}

		&__image {
			margin: 0px auto;
			flex: 0 0 280px;
			max-width: 280px;
			height: 243px;
			border-radius: 50%;

		}

		&__container {
			flex-direction: column-reverse;
		}
	}
}

.img {
	flex: 0 0 243px;
	height: 243px;
	border-radius: 50%;
	overflow: hidden;

	img {
		height: 100%;
		object-fit: fill;

	}
}