.modal {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    transform: scale(0);
    transition: 200ms ease-in-out;

    &__header {
        text-align: center;
    }

    &__title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 15;
        max-width: 400px;
        max-height: 500px;
        background-color: #EDF7FA;
        border-radius: 10px;
        transition: 200ms ease-in-out;
        padding: 15px;
    }

    &__body {}

    &__text {
        font-size: 19px;
        margin-bottom: 10px;
    }

    &__closeBtn {
        display: flex;
        align-items: center;
        justify-content: center;

        :first-child {
            width: 100%;
        }
    }


}

.modal.active {
    transform: scale(1);
}

.modal {
    &__container.active {
        transform: translate(-50%, -50%) scale(1);
    }
}

body.lockModal {
    overflow: hidden;
}

.hi {

    &__button {}
}