@font-face {
	font-family: 'CircularStd-Bold';
	src: url('../fonts/CircularStd-Bold.eot');
	src: local('☺'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'CircularStd-Book';
	src: url('../fonts/CircularStd-Book.eot');
	src: local('☺'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
@import "_null-style";

body.lock {
	@media (max-width: 787px) {
		overflow: hidden; //запрет на прокутку в бургере
	}
}

.wrapper {
	font-family: "Heebo";
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.content {
	max-width: 855px;
	margin: 0 auto;

	@media(max-width: 852px) {
		padding: 0 5px;
	}
}

.text {
	font-size: 16px;
	font-weight: 400;
}

@import "_header";
@import "_hi";
@import "_modal";
@import "_posts";
@import "_featured";
@import "_footer";