@font-face {
	font-family: 'CircularStd-Bold';
	src: url('../fonts/CircularStd-Bold.eot');
	src: local('☺'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'CircularStd-Book';
	src: url('../fonts/CircularStd-Book.eot');
	src: local('☺'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');


@import "_null-style";
@import "_header";
@import "_footer";
@import "_secondary-content";

body.lock {
	@media (max-width: 787px) {
		overflow: hidden; //запрет на прокутку в бургере
	}
}

.wrapper {
	font-family: "Heebo";
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.text {
	font-size: 16px;
	font-weight: 400;
}

.header {
	margin-bottom: 100px;

	@media(max-width: 785px) {
		margin-bottom: 20px;
	}
}

.work {

	&__container {
		margin-bottom: 80px;

		@media(max-width: 785px) {
			margin-bottom: 60px;
		}
	}

	&__h1 {}

	&__content {}

	&__row {}

	&__blockflex {
		display: flex;

		@media(max-width: 785px) {
			display: block;
		}
	}

	&__img {
		margin: 0px 20px 20px 0px;
	}

	&__body {}

	&__title {
		cursor: pointer;
	}

	&__description {}

	&__date {}

	&__line {}

	&__afterdate {}

	&__text {}

	@media(max-width: 785px) {
		&__content {}
	}
}